// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: black !important;
}

a:hover {
    color: black!important;
}

/* POSTS */
main {
    .wrapper-posts {
        gap: 1rem;
    }
}

main {
    .form-group {
        margin-bottom: 1rem;

        input{
            margin-bottom: 1rem;
        }
    }
}